body{
    padding: 0;
    margin: 0;
 }
 
 
 .container{
 height: 100vh;
 width: 100%;
 background-color: blue;
 display: flex;
 justify-content: center;
 align-items: center;
 
 }
 
 .inside{
     height: 50vh;
     width: 50%;
     background-color: red;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
      
 }
 
 .inside h1{
     color: white;
     font-size: 10px;
 }
 
 .inside p{
     color: white;
     
 }